.banner {
    position: relative;
    width: 100%;
    height: 85vh;
    background: url('/banner1.webp') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--grey-green-100);
  }
  
  .content h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-left: 7.9rem;
  }
  
  .content button {
    background-color: transparent;
    border: 1px solid var(--grey-green-100);
    color: var(--grey-green-100);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--grey-green-100);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 7.9rem;
    background: var(--background-transparent-05);
    font-size: 2rem;
    transition: all .3s;
  }
  
  .content button:hover {
    background-color: var(--grey-green-100);
    color: var(--grey-13);
    transform: scale(1.1);
  }
  
  /* Estilos Responsivos */
  @media (max-width: 768px) {
    .content h1 {
      font-size: 1.5rem;
    }
  
    button {
      padding: 0.8rem 1.6rem;
    }
  }
  
  @media (max-width: 480px) {
    .content h1 {
      font-size: 1.2rem;
    }
  
    button {
      padding: 0.6rem 1.2rem;
    }
  }
  