.button {
  background-color: transparent;
  border: 1px solid var(--grey-green-1);
  color: var(--grey-green-1);
  padding: 1.5rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 2rem;
  transition: all .3s;
}

.bgPrimary {
  background: var(--grey-green-11);
}

.button:hover {
  background-color: var(--grey-green-1);
  color: var(--grey-13);
  transform: scale(1.1);
}