.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 357px;
  padding: 0 2rem;
}

.description {
  max-width: 654px;
  width: 100%;
}

.description h2 {
  font-size: 3.6rem;
}

.description p, .description b {
  font-size: 1.7rem;
}

.description p {
  margin-bottom: 1rem;
}

.description p:last-child {
  margin-bottom: 0;
}

.map {
  max-width: 490px;
  width: 100%;
  margin: 2.6rem 0;
}

/*Design responsivo*/
@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    height: auto;
    margin-top: 4rem;
  }
  .description {
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
}