.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1144px;
  width: 100%;
}

.description {

}

.description h2 {
  font-size: 3.6rem;
}

.description p {
  font-size: 1.7rem;
}

/*Degisn temporario*/
.map {
  font-size: 5rem;
}