.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(47, 51, 49, 0.7);
  backdrop-filter: blur(0.3rem);
  z-index: 1;
  box-shadow: var(--grey-10);
  height: 7vh;
  font-size: 2rem;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin: 1.2rem 0 0 7.9rem;
  height: 50%;
}

.logo {
  color: var(--grey-1);
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.2rem 0 0 7.9rem;
  position: absolute;
}

.navbar ul {
  display: flex;
  gap: 5rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 7.9rem;
}

.navbar li {
  display: inline;
}

.navbar a {
  font-size: 1.5rem;
  color: var(--grey-1);
  font-weight: 700;
  line-height: 2.2rem;
  transition: color .3s;
}

.navbar a:hover {
  color: var(--grey-8);
}

.burgerMenu, .burgerMenuClose, .navbarMobile, .buttonMenu {
  display: none;
}

.burgerMenu, .burgerMenuClose {
  color: #f3f4f3;
}

.navbarMobile {
  position: fixed;
  top: 8.2rem;
  right: 0;
  width: 25rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.navbarMobile ul {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbarMobile ul li {
  margin: 2rem 0;
}

.navbarMobile ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  display: block;
  padding: 1rem;
}

.navbarMobile ul li a:hover {
  color: #dadddb;
}

.menuOpen {
  transform: translateX(0);
}

@media (max-width: 76.8rem) {
  .navbar ul {
    gap: 3rem;
  }
}

@media (max-width: 60rem) {
  .navbar {
    display: none;
  }
  .navbarMobile, .burgerMenu, .burgerMenuClose, .buttonMenu {
    display: block;
  }
}