.header {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(10px);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
  height: 82px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.logo {
  color: #f3f4f3;
}

.navbar ul {
  display: flex;
  gap: 50px;
}

.navbar li {
  display: inline;
}

.navbar a {
  font-size: 15px;
  color: #f3f4f3;
  font-weight: 700;
  line-height: 20.22px;
  transition: color .3s;
}

.navbar a:hover {
  color: #dadddb;
}

.burgerMenu, .burgerMenuClose, .navbarMobile, .buttonMenu {
  display: none;
}

.burgerMenu, .burgerMenuClose {
  color: #f3f4f3;
}

.navbarMobile {
  position: fixed;
  top: 82px;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.navbarMobile ul {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbarMobile ul li {
  margin: 20px 0;
}

.navbarMobile ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
}

.navbarMobile ul li a:hover {
  color: #dadddb;
}

.menuOpen {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .navbar ul {
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .navbar {
    display: none;
  }
  .navbarMobile, .burgerMenu, .burgerMenuClose, .buttonMenu {
    display: block;
  }
}