.rodape {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: var(--grey-8);
  color: #ffffff;
  font-family: var(--font);
}

.name { 
width: 40%;
}

.container ul li {
  font-size: 2rem;
  line-height: 3.5rem;
}

h3 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  position: relative;
}

.name h3::after {
  content: '';
  display: block;
  width: 25rem;
  height: 0.5rem;
  background-color: var(--orange-4);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  animation: slideIn 1s ease-in-out;
}

.container h3::after {
    content: '';
    display: block;
    width: 25rem;
    height: 0.5rem;
    background-color: var(--orange-4);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
}

.navegation h3::after {
    content: '';
    display: block;
    width: 19rem;
    height: 0.5rem;
    background-color: var(--orange-4);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    animation: slideIn 1s ease-in-out;
  }

.coment p {
  font-size: 2rem;
  line-height: 1.5;
}

ul {
  line-height: 2.4rem;
  list-style: none;
}

.navegation li {
  margin: 0.5rem 0;
  transition: transform 0.3s;
}

.navegation li:hover {
  transform: translateX(1.5rem);
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 2rem;
}

a:hover {
  color: var(--grey-4);
}
