:root {
    --grey-green-1: #f3f4f3;
    --grey-green-2: #edefee;
    --grey-green-3: #dadddb;
    --grey-green-4: #87928b;
    --grey-green-5: #7a837d;
    --grey-green-6: #6c756f;
    --grey-green-7: #656e68;
    --grey-green-8: #515853;
    --grey-green-9: #3d423f;
    --grey-green-10: rgba(0, 0, 0,0.2);
    --grey-green-11: rgba(0, 0, 0, 0.5);
     
    --orange-1: #faf4ee;
    --orange-2: #f8efe6;
    --orange-3: #f0deca;
    --orange-4: #ce9455;
    --orange-5: #b9854d;
    --orange-6: #a57644;
    --orange-7: #9b6f40;
    --orange-8: #7c5933;
    --orange-9: #5d4326;
    --orange-10: #48341e;
    
    --grey-1: #fbfcfb;
    --grey-2: #f9faf9;
    --grey-3: #f2f5f3;
    --grey-4: #d5e0d9;
    --grey-5: #c0cac3;
    --grey-6: #aab3ae;
    --grey-7: #a0a8a3;
    --grey-8: #808682;
    --grey-9: #606562;
    --grey-10: #4b4e4c;
    --grey-11: #4b4e4c;
    --grey-12: #242525;
    --grey-a-12: #242425f1; 
    --grey-13: #111111;

    --font: 'Playfair Display SC', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    list-style: none;
    text-decoration: none;
    font-style: normal;
  }
  
body {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: var(--font);
}

p {
  font-family: "Roboto", sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background: none;
}

@media (max-width: 1280px) {
  * {
    font-size: 60%;
  }
}

@media (max-width: 1150px) {
  * {
    font-size: 58%;
  }
}

@media (max-width: 800px) {
  * {
    font-size: 55%;
  }
}

@media (max-width: 600px) {
  * {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  * {
    font-size: 48%;
  }
}
